.input-field {
    /* display: flex; */
}

#delIngBtn {
    margin-top: 10px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    border: solid 1px grey;
    padding: 10px;
    margin: 0%;
    align-items: center;
}

.list-group{
    width: 100%;
}

h3{
    margin:0%;
}

.deletebox{
    padding-bottom: 10%;
}
